!*/
!.gitignore
!/**/.gitignore

!/**/*.py
!/**/*.ipynb

!/deployment/**/*.*
!/scripts/**/*.sh
!/examples/**/*.sh


!/views/**/*.html
!/public/**/*.*

!Dockerfile
!README.md
!requirements.txt
!.gitmodules

!.pylintrc
!.vscode/**/*.json
!CHANGELOG.md
!pyproject.toml
!.pre-commit-config.yaml

!/deploy/**/*.*

.*env