fastapi==0.104.1
numpy==1.26.2
uvicorn==0.24.0.post1
Pillow==10.1.0
requests==2.31.0
black==23.11.0
pylint==3.0.2
python-semantic-release==8.3.0
commitizen==3.12.0
python-multipart==0.0.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.0
mypy==1.7.1
mypy-extensions==1.0.0

#####
torch==2.3.0
torchvision==0.18.0
pandas==2.2.2
scikit-learn==1.5.1